body {
    font-family:sans-serif;
    text-align:center;
}
.bold {
    font-weight:bolder;
}
.container-1{
    background-color:#ffffff;
    color:gray
}
.container-2{
    background-color:#307aab;
    color:white;
}
.container-3{
    background-color:#eeeff1;
}
.card-white {
    background: white;
    padding: 30px;
    box-shadow: 1px 1px 2px #e7e7e7;
    border-radius: 4px;
    margin: 20px 50px;
  }
